<launch>
  <arg name="gui" default="false"/>
  <include file="$(find nj_220_2_7_gazebo)/launch/nj_220_2_7_world.launch">
    <!-- <arg name="paused" value="true"/> -->
    <arg name="gui" value="$(arg gui)" />
  </include>

  <include file="$(find nj_220_2_7_gazebo)/launch/nj_220_2_7_control.launch">
  </include>
</launch>
