<?xml version="1.0"?>

<launch>
  <arg name="fake" default="true"/>
  <arg name="launch_prefix" default=""/>
  <arg name="controllers_configurations" default="$(find nj_220_2_7_configurations)/config/controllers_configurations.yaml"/>
  <arg name="controllers_dispatches" default="$(find nj_220_2_7_configurations)/config/controllers_dispatches.yaml"/>


<!-- Load CNR_ROS_CONTROL -->
<!--Load robot hardware-->
<rosparam command="load" file="$(find nj_220_2_7_configurations)/config/level0_hw.yaml" />
<rosparam command="load" file="$(find nj_220_2_7_configurations)/config/level1_hw.yaml" />

<!--Load controllers-->
<rosparam command="load" file="$(find nj_220_2_7_configurations)/config/level0_controllers.yaml" />
<rosparam command="load" file="$(find nj_220_2_7_configurations)/config/level1_controllers.yaml" />

<node launch-prefix="$(arg launch_prefix)"
      pkg="cnr_configuration_manager"
      type="cnr_configuration_manager_node"
      name="configuration_manager" output="screen">

  <rosparam>
    appenders: [screen,file]
    levels: [info,info]
    file_name: "controller_manager"
    append_to_file: true
    pattern_layout: "[%5p][%d{HH:mm:ss,SSS}][%M:%04L][%c] %m%n"
  </rosparam>

  <!--Load configurations-->
  <rosparam command="load" file="$(find nj_220_2_7_configurations)/config/controllers_configurations.yaml" />
</node>

<node pkg="cnr_configuration_manager" type="dispatcher" name="configuration_dispatcher" output="screen" >
<rosparam>
  appenders: [screen,file]
  levels: [info,file]
  file_name: "configuration_dispatcher"
  pattern_layout: "[%5p][%d{HH:mm:ss,SSS}][%M:%04L][%c] %m%n"
</rosparam>
  <param name="num_worker_threads" value="40" />
  <!-- Load dispatches -->
  <rosparam command="load" file="$(find nj_220_2_7_configurations)/config/controllers_dispatches.yaml" />
</node>

</launch>
